.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    @media (min-width: 380px) {
        flex-direction: row;
        border-radius: 32px;
    }
}
